.a-dialog-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.404);
}

.a-dialog {
    background: white;
    border-radius: 4px;
    min-width: 400px;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a-dialog-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.a-header-content {
    padding: 24px;
    font-size: 15px;
    font-weight: bold;
}

.a-header-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-header-close:hover {
    color: rgb(126, 126, 126);
}

.a-header-close i {
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.a-header-content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.a-dialog-content {
    padding: 24px;
    padding-top: 0;
    display: flex;
    align-items: center;
}

.a-dialog.notify .a-content-icon{
    display: none;
}

.a-dialog-content .a-content-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgb(240, 240, 240);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.a-content-icon i {
    font-size: 20px;
    
}

.a-dialog.warring .a-content-icon i {
    color: rgb(236, 215, 20);
}

.a-dialog.error .a-content-icon i {
    color: rgb(255, 45, 45);
}

.a-dialog-content .a-content-right {
    
}

.a-dialog-content span {
    
}


.a-dialog-footer {
    padding: 10px 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: flex-end; 
    height: 60px;
    background: rgb(240, 240, 240);
}

.a-dialog-btn {
    height: 40px;
    padding: 0 20px;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.a-dialog-btn.left {
    margin-right: 16px;
}

.a-dialog-btn.left:hover {
    background: rgb(226, 226, 226);
}

.a-dialog-btn.right {
    background: rgb(6, 134, 92);
    color: white;
}

.a-dialog.error .a-dialog-btn.right {
    background: rgb(252, 58, 58);;
}

.a-dialog-btn.right:hover {
    background:rgb(8, 192, 131);
}

.a-dialog.error .a-dialog-btn.right:hover {
    background:rgb(250, 89, 89);
}
